<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<configSections>
		<section name="DevSmartConfig" type="SSDLMaintenanceTool.Models.ConnectionString" />
	</configSections>
	<DevSmartConfiguration>
		<Server>tcp:smartgepdev.database.windows.net,1433</Server>
		<Database>DEVSmartConfiguration</Database>
		<UserName>Dev_Config_User</UserName>
		<Password>DcU$@123</Password>
	</DevSmartConfiguration>
	<DevBuyerMicro>
		<Server>tcp:smartgepdev.database.windows.net,1433</Server>
		<UserName>DEV_Smart_User</UserName>
		<Password>D7xvxRq9</Password>
	</DevBuyerMicro>
	<QCSmartConfiguration>
		<Server>tcp:smartgepdev.database.windows.net,1433</Server>
		<Database>DEVSmartConfiguration</Database>
		<UserName>QC_Config_User</UserName>
		<Password>q5tcfCF4MYBC</Password>
	</QCSmartConfiguration>
	<QCBuyerMicro>
		<Server>tcp:smartgepdev.database.windows.net,1433</Server>
		<UserName>QC_SpendSelfserve_User</UserName>
		<Password>mK7hxRfXEBg</Password>
	</QCBuyerMicro>
	<UATSmartConfiguration>
		<Server>gjc6phtaz8.database.windows.net</Server>
		<Database>DEVSmartConfiguration</Database>
		<UserName>Dev_Config_User</UserName>
		<Password>DcU$@123</Password>
	</UATSmartConfiguration>
	<UATBuyerMicro>
		<Server>gjc6phtaz8.database.windows.net</Server>
		<Database>DEVSmartConfiguration</Database>
		<UserName>Dev_Config_User</UserName>
		<Password>DcU$@123</Password>
	</UATBuyerMicro>
	<ProdSmartConfiguration>
		<Server>gpag7ej4m0.database.windows.net</Server>
		<Database>GEPSmartConfiguration</Database>
		<UserName>RM_DBReader</UserName>
		<Password>Password@321</Password>
	</ProdSmartConfiguration>
	<ProdBuyerMicro>
		<Server>gpag7ej4m0.database.windows.net</Server>
		<UserName>RM_DBReader</UserName>
		<Password>Password@321</Password>
	</ProdBuyerMicro>
</configuration>