<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ConnectionStrings" type="SSDLMaintenanceTool.Implementations.ConnectionStringSectionHandler, SSDLMaintenanceTool" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<ConnectionStrings>
		<ConnectionString>
			<DisplayName>DEV Smart Configuration - MFA</DisplayName>
			<Server>tcp:smartgepdev.database.windows.net,1433</Server>
			<Database>DEVSmartConfiguration</Database>
		</ConnectionString>
		<ConnectionString>
			<DisplayName>DEV Micro DB - MFA</DisplayName>
			<Server>tcp:smartgepdev.database.windows.net,1433</Server>
		</ConnectionString>
		<ConnectionString>
			<DisplayName>QC Smart Configuration - MFA</DisplayName>
			<Server>tcp:smartgepqaus.database.windows.net</Server>
			<Database>ConnectionString</Database>
		</ConnectionString>
		<ConnectionString>
			<DisplayName>QC Micro DB - MFA</DisplayName>
			<Server>tcp:smartgepqaus.database.windows.net</Server>
		</ConnectionString>
		<ConnectionString>
			<DisplayName>QC Smart Configuration - Full Access</DisplayName>
			<Server>tcp:smartgepqaus.database.windows.net</Server>
			<Database>ConnectionString</Database>
			<UserName>QC_Config_User</UserName>
			<Password>q5tcfCF4MYBC</Password>
		</ConnectionString>
		<ConnectionString>
			<DisplayName>QC Micro DB - Full Access</DisplayName>
			<Server>tcp:smartgepqaus.database.windows.net</Server>
			<UserName>QC_SpendSelfserve_User</UserName>
			<Password>mK7hxRfXEBg</Password>
		</ConnectionString>
		<ConnectionString>
			<DisplayName>UAT Smart Configuration - Read Only</DisplayName>
			<Server>gjc6phtaz8.database.windows.net</Server>
			<Database>UATSmartConfiguration</Database>
		</ConnectionString>
		<ConnectionString>
			<DisplayName>UAT Micro DB - Read Only</DisplayName>
			<Server>gjc6phtaz8.database.windows.net</Server>
		</ConnectionString>
		<ConnectionString>
			<DisplayName>Prod Smart Configuration US 1 - Read Only</DisplayName>
			<Server>gpag7ej4m0.database.windows.net</Server>
			<Database>GEPSmartConfiguration</Database>
			<UserName>RM_DBReader</UserName>
			<Password>Password@321</Password>
		</ConnectionString>
		<ConnectionString>
			<DisplayName>Prod Micro DB US 1 - Read Only</DisplayName>
			<Server>gpag7ej4m0.database.windows.net</Server>
			<UserName>RM_DBReader</UserName>
			<Password>Password@321</Password>
		</ConnectionString>
		<ConnectionString>
			<DisplayName>Prod Smart Configuration US 2 - Read Only</DisplayName>
			<Server>gpag7ej4m0.database.windows.net</Server>
			<Database>GEPSmartConfiguration</Database>
			<UserName>RM_DBReader</UserName>
			<Password>Password@321</Password>
		</ConnectionString>
		<ConnectionString>
			<DisplayName>Prod Micro DB US 2 - Read Only</DisplayName>
			<Server>gpag7ej4m0.database.windows.net</Server>
			<UserName>RM_DBReader</UserName>
			<Password>Password@321</Password>
		</ConnectionString>
		<ConnectionString>
			<DisplayName>Prod Smart Configuration EU 1 - Read Only</DisplayName>
			<Server>gpag7ej4m0.database.windows.net</Server>
			<Database>GEPSmartConfiguration</Database>
			<UserName>RM_DBReader</UserName>
			<Password>Password@321</Password>
		</ConnectionString>
		<ConnectionString>
			<DisplayName>Prod Micro DB EU 1 - Read Only</DisplayName>
			<Server>gpag7ej4m0.database.windows.net</Server>
			<UserName>RM_DBReader</UserName>
			<Password>Password@321</Password>
		</ConnectionString>
	</ConnectionStrings>
</configuration>